* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;    
}

img, embed, object, video {
	max-width: 100%;
}

body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

.intro {
	margin-bottom: 20px;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
	max-height: 100px;
	max-width: 100px;
}

.thick-line {
	border: 1.5px solid #747704;
}

section img {
	padding: 15px;
}

footer {
	margin: 20px 0;
}